{% comment %}
This file contains a simplistic "Featured Events" list,
comprised of a conventional HTML structure that lists
little event promos for specific or otherwise special
event listings.

They get automatically hidden after the `not-valid-after`
time defined in their containing element.
{% endcomment -%}
<div id="featured-events">
    <p data-not-valid-after="2025-10-19T17:00:00-0400">
        <strong>Get that (coin-)bag</strong> at <a href="https://www.eventbrite.com/e/two-sides-of-the-same-coin-transacting-privately-with-cryptocurrency-tickets-1689283966819">Two Sides of the Same Coin: Transacting Privately with Cryptocurrency</a> on Sunday, October 19<sup>th</sup>!
        <a href="https://www.eventbrite.com/e/two-sides-of-the-same-coin-transacting-privately-with-cryptocurrency-tickets-1689283966819"><img src="/static/img/workshop.two-sides-of-the-same-coin-transacting-privately-with-cryptocurrency.square.jpg" alt="Poster for workshop titled 'Two sides of the Same Coin: Transacting Privately with Cryptocurrency" /></a>
    </p>
</div>
